body {
    background-color: #f0f0f0;
    color: #333;
    font-family: 'Arial', sans-serif;
}
.header {
    background-image: url('./img/header.jpg'); /* Додайте ваше зображення */
    background-size: cover;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
}
.header h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}



.features {
    margin: 50px 0;
    width: 100vw;
}
.feature-item {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    transition: transform 0.2s;
}
.feature-item:hover {
    transform: scale(1.05);
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

#exotic_plants_img, #lecture_img, #event_img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

